* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* breakpoints 320 -480 , 481 - 767, 768-991, 992-1199, 1200px*/
html {
    scroll-behavior: smooth;
}

.app {
    max-width: 1200px;
    /* Restar la altura del .nav */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

:root {
    --textColor: rgb(87, 77, 77);
    --textColorDefault: rgb(54, 52, 52);
    --bgAll: rgb(250, 250, 250);
    --bodyColor: rgb(240, 239, 239);
    --bgAll: rgb(255, 255, 255);
    --shadowBox: 3px 7px 12px -6px rgba(0, 0, 0, 0.2);
    --seccion2Bg: linear-gradient(117deg, rgba(246, 190, 99, 1) 0%, rgba(215, 52, 255, 1) 50%, rgba(0, 212, 255, 1) 100%);
    --bgDashboard: #cccc33;
    --bgButtonHover: #e2e258;
    --textColorDasboard: rgb(92, 84, 84);
    --bgcolorHamburMenu: white

}

body {
    background-color: var(--bodyColor);
    transition: 2s;
    background-image: url(/src/svg/paternbg.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;      
}

.modeDark {
    --bodyColor: #131417;
    --textColor: rgb(155, 145, 145);
    --textColorDasboard: rgb(65, 64, 64);
    --bgAll: #c4c7cf;
    --seccion2Bg: #2C303A transition: 2s;
    --bgDashboard: #8aa52a;
    --bgcolorHamburMenu: rgb(39, 39, 39);
}



.nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 4;
    transition: 0.3s ease-in-out;
    color: var(--textColorDasboard);
}

.icons_nav {
    display: flex;
    align-items: center;
    margin-right: 0;
    gap: 10px;
    font-size: 1.3em;


}

.bx {
    cursor: pointer;


}


.shadows_nav {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--bgDashboard);
    height: 10px;
    box-shadow: var(--shadowBox);
    z-index: 2;
    opacity: 0;
    transition: 0.7s ease-in-out;
    
}

.show_shadows_nav {
    opacity: 1;
    height: 60px;
}

.logo {
    padding-left: 25px;
}

.nameLogo {
    font-size: 1em;
    user-select: none;
}

.conjuntoLogo {
    display: flex;
    align-items: center;
    margin-left: 0;
}

ul {
    list-style: none;
}

.link {
    cursor: pointer;
    font-size: 1.2em;
    line-height: 2;
    font-weight: 500;
    color: var(--textColorDefault);
    padding-left: 15px;
    padding-right: 15px;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcolorHamburMenu);
    opacity: 0;
    transition: 0.4s;
    

}

.dec1{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.dec2{
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
}

.dec1-hidden{
    display: none;
}

.dec2-show{
    opacity: 1;
}

.closeicon {
    position: absolute;
    
    font-size: 1.8em;
    top: 15px;
    right: 20px;

    color: #59595a;
}

.menumod{
    position: absolute;
    
    font-size: 1.2em;
    top: 20px;
    left: 30px;

    color: #59595a;
}

a {
    text-decoration: none;
    color: inherit;
}

.menuShow {
    opacity: 1;
    right: 0;
}

.bx-menu {
    font-size: 25px;
    align-self: center;
    padding-right: 25px;
    cursor: pointer;
}

.item_dash_1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


    font-size: clamp(2.5vw, 6vw, 48px);

    background-color: var(--bgDashboard);
    color: var(--textColorDasboard);

    transition: 2s;
}

.mind {
    font-weight: bold;
}

.item_dash_child_1,
.item_dash_child_2,
.item_dash_child_3,
.react,
.hcj {
    opacity: 0;
    animation: fadeEffect 1s ease-in-out forwards;
}




@keyframes fadeEffect {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.item_dash_2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 50vh;
    background-image: url(/src/webp/img_1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img_1 {
    width: 100%;
    height: 100%;

}


.into {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 50px;
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    font-size: clamp(10px, 3vw, 16px);
}

.cont_into {
    display: flex;
    align-items: center;
    margin-left: 0;
    gap: 10px;
    font-size: clamp(1vw, 4vw, 1em);
    text-align: justify;
    color: var(--textColor);
    font-weight: bold;
}

.line {
    margin-left: 0;
    width: 5vw;
    height: 15px;
    border-radius: 0 8px 8px 0;
    background-color: #cccc33;

}

.person {
    grid-column: 1/2;
    grid-row: 4/5;

    display: flex;
    flex-direction: column;

}

.text_person {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.time {
    margin-right: 10px;
    color: var(--textColor);
    font-weight: bold;
}

.img_person {
    width: 70%;
    padding-top: 30px;
    padding-bottom: 30px;

    opacity: 0.5;
    transition: 0.8s;

    transform: translateX(-20%);
}


.web {
    font-size: clamp(10vw, 10vw, 16px);
    font-weight: bold;
    color: var(--bgDashboard);
    margin-left: 10%;

    opacity: 0;
    transition: 0.8s;
    transform: translateX(20%);
}

.services {
    font-size: clamp(15vw, 15vw, 16px);
    font-weight: 300;
    color: var(--textColor);
    margin-left: 0;

    opacity: 0;
    transition: 0.8s;
    transform: translateX(20%);
}

.line_services {
    height: 10px;
    width: 80%;
    background-color: var(--bgDashboard);
    margin-right: 0;
}

.flag {
    height: 20px;
    width: 50px;
    display: flex;
    margin-right: 0;
}

.yellow {
    width: 20px;
    height: 100%;
    background-color: yellow;
}

.blue {
    width: 20px;
    height: 100%;
    background-color: blue;
}

.red {
    width: 20px;
    height: 100%;
    background-color: red;
}

.presentation {
    grid-column: 1/2;
    grid-row: 5/6;

}

.text_presentation {
    padding: 20px;
    font-size: clamp(1vw, 4vw, 1em);
    text-align: justify;
    color: var(--textColor);

    opacity: 0;
    transition: 0.8s;
    transform: translateY(20%);
}

.into_2 {
    grid-column: 1/2;
    grid-row: 6/7;
    height: 50px;
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    font-size: clamp(10px, 3vw, 16px);
    font-weight: bold;
}

.skills {
    grid-column: 1/2;
    grid-row: 7/8;   
    width: 100%;
    display: flex;
    align-items: center;
}

.img_skills {
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: 0.8s;
    transform: translateY(20%);

}

.into_3 {
    grid-column: 1/2;
    grid-row: 8/9;
    margin-left: 0;
    height: 50px;
    display: flex;
    font-size: clamp(10px, 3vw, 16px);
    font-weight: bold;
}

.text_project {
    padding-top: 25px;
    padding-bottom: 25px;
    
    width: 100%;
    padding-left: 25px;
    color: var(--textColor);

    opacity: 0;
    transition: 0.8s;
    transform: translateX(-100%);



}

.project_1 {
    grid-column: 1/2;
    grid-row: 9/10;
    height: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img_project {
    width: 90%;
    
    border-radius: 5px;

    opacity: 0;
    transition: 0.8s;
    transform: translateY(20%);
}

.text_project_1 {
    grid-column: 1/2;
    grid-row: 10/11;
    padding: 20px;
    text-align: justify;
    color: var(--textColor);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1vw, 4vw, 1em);

    opacity: 0;
    transition: 0.8s;
    transform: translateX(100%);
}

.button_project {
    width: 160px;
    height: 40px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--bgDashboard);
    cursor: pointer;
}

.button_project:hover {
    background-color: var(--bgButtonHover);
}


.project_2 {
    grid-column: 1/2;
    grid-row: 11/12;
    height: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text_project_2 {
    grid-column: 1/2;
    grid-row: 12/13;
    padding: 20px;
    text-align: justify;
    color: var(--textColor);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1vw, 4vw, 1em);


    opacity: 0;
    transition: 0.8s;
    transform: translateX(100%);
}


.project_3 {
    grid-column: 1/2;
    grid-row: 13/14;
    height: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text_project_3 {
    grid-column: 1/2;
    grid-row: 14/15;
    padding: 20px;
    text-align: justify;
    color: var(--textColor);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1vw, 4vw, 1em);

    opacity: 0;
    transition: 0.8s;
    transform: translateX(100%);
}

.project_4 {
    grid-column: 1/2;
    grid-row: 15/16;
    height: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text_project_4 {
    grid-column: 1/2;
    grid-row: 16/17;
    padding: 20px;
    text-align: justify;
    color: var(--textColor);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1vw, 4vw, 1em);

    opacity: 0;
    transition: 0.8s;
    transform: translateX(100%);
}

.project_5 {
    grid-column: 1/2;
    grid-row: 17/18;
    height: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text_project_5 {
    grid-column: 1/2;
    grid-row: 18/19;
    padding: 20px;
    text-align: justify;
    color: var(--textColor);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1vw, 4vw, 1em);

    opacity: 0;
    transition: 0.8s;
    transform: translateX(100%);

}

.project_6 {
    grid-column: 1/2;
    grid-row: 19/20;
    height: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text_project_6 {
    grid-column: 1/2;
    grid-row: 20/21;
    padding: 20px;
    text-align: justify;
    color: var(--textColor);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1vw, 4vw, 1em);

    opacity: 0;
    transition: 0.8s;
    transform: translateX(100%);
}

.contact {

    height: max-content;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 20px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    font-size: clamp(1vw, 4vw, 1em);
    padding-bottom: 10px;

    width: 100%;
    display: flex;
    align-items: center;
}

.img_contact {
    font-size: 1.5em;
    margin: 0;
    color: var(--textColorDefault);

}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: var(--bgDashboard);
    color: var(--textColorDefault);
}

.link_footer {
    margin: 0;
    padding-left: 10px;
}

.elements {
    width: 100%;
    padding-left: 25px;
}

.link_footer:hover {
    color: rgb(126, 123, 123);
}

.derechos {
    text-align: center;
    font-size: clamp(1vw, 4vw, 1em);
}

.transform_up {
    transform: translateY(20%);
}

.transform_down {
    transform: translateY(-20%);
}

.transform_left {
    transform: translateX(20%);
}

.transform_right {
    transform: translateX(-20%);
}

.showFade {
    opacity: 1;
    transform: none;
}

.into_4 {
    grid-column: 1/2;
    grid-row: 21/22;
    margin-left: 0;
    font-weight: 800;

}


.clearfix {
    color: white
}



.items-flotante {
    display: none;
    
}

.img_certificates {
    display: flex;
    width: 90%;
    border-radius: 5px;
    padding-top: 25px;

}

.hcj {
    grid-column: 1/2;
    grid-row: 23/24;
    display: flex;


}

.react {
    grid-column: 1/2;
    grid-row: 24/25;

    display: flex;
    



    
}

.comment-container {
    grid-column: 1/2;
    grid-row: 22/23;

}


@media (min-width:768px) {
    .app {
        grid-template-columns: 50% 50%;
    }

    .icons_nav .bx-menu {
        display: none;
    }

    .icons_nav .bx-moon {
        padding-right: 20px;

    }

    .bx-tada {
        padding-right: 20px;
    }

    .comment-container {
        grid-column: 1/3;
        grid-row: 14/15;
    }


    .item_dash_1 {
        height: 100vh;
    }

    .item_dash_2 {
        grid-column: 2/3;
        grid-row: 1/2;
        height: 100vh;
    }

    .into {
        grid-column: 1/3;
        grid-row: 2/3;
        font: var(--textColor);

    }

    .person {
        grid-column: 1/2;
        grid-row: 3/4;
    }


    .web {
        font-size: clamp(3vw, 4vw, 1em);
    }

    .services {
        font-size: clamp(5vw, 0vw, 0em);
    }

    .presentation {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .into_2 {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .skills {
        grid-column: 1/3;
        grid-row: 5/6;
        height: auto;
        width: 100%;
    }



    .into_3 {
        grid-column: 1/3;
        grid-row: 6/7;

    }

    .project_1 {
        grid-column: 1/2;
        grid-row: 7/8;

    }

    .text_project_1 {
        grid-column: 2/3;
        grid-row: 7/8;
        padding-top: 80px;
        text-align: justify;
        color: var(--textColor);
    }

    .project_2 {
        grid-column: 1/2;
        grid-row: 8/9;

    }

    .text_project_2 {
        grid-column: 2/3;
        grid-row: 8/9;
        padding-top: 80px;
        text-align: justify;
    }

    .project_3 {
        grid-column: 1/2;
        grid-row: 9/10;

    }

    .text_project_3 {
        grid-column: 2/3;
        grid-row: 9/10;
        padding-top: 80px;
        text-align: justify;
    }

    .project_4 {
        grid-column: 1/2;
        grid-row: 10/11;

    }

    .text_project_4 {
        grid-column: 2/3;
        grid-row: 10/11;
        padding-top: 80px;
        text-align: justify;
    }

    .project_5 {
        grid-column: 1/2;
        grid-row: 11/12;

    }

    .text_project_5 {
        grid-column: 2/3;
        grid-row: 11/12;
        padding-top: 80px;
        text-align: justify;
    }

    .project_6 {
        grid-column: 1/2;
        grid-row: 12/13;


    }

    .text_project_6 {
        grid-column: 2/3;
        grid-row: 12/13;
        padding-top: 80px;
        text-align: justify;
    }

    .into_4 {
        grid-column: 1/3;
        grid-row: 14/15;
    }

    .hcj {
        grid-column: 1/2;
        grid-row: 15/16;
    }


    .react {
        grid-column: 2/3;
        grid-row: 15/16;
    }

    .menu-flotante {
        position: absolute;
        top: 0;
        right: 0;
        
        
    }

    .items-flotante {
        display: flex;
        justify-content: center;
        align-items: center;        
        border-radius: 0 0 0 10px;
        height: 60px;
        width: 450px;
        color: var(--textColorDefault);
        background-color: var(--bgDashboard);
        transition: 2s;

    }

    .mf {
        font-size: 0.7em;
        
    }

    .mf:hover {
        text-decoration: underline;
        
    }

    .icon-accion-nav {
        display: none;
    }

    .languaje {
        height: max-content;
        width: max-content;
        padding-left: 3px;
        padding-right: 3px;
        background-color: #59595a;
        color: white;
        margin-left: 15px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.8em;

    }

    .languaje:hover {
        background-color: #c56a3f;
    }

}

@media (min-width: 1200px) {
    .nav {
        width: 1200px;
    }

    .contact {
        width: 1200px;

    }
}
